In [2]:
import pandas as pd

data = pd.read_csv('/mnt/storage/kilsar_jainil/weapons/weapons/train_labels.csv')
data.head()

                 ID                   Label
0  armas (2144).jpg  400 243 788 403 pistol
1  armas (2350).jpg      1 1 159 115 pistol
2  armas (1685).jpg  290 171 346 215 pistol
3  armas (2660).jpg      1 1 157 114 pistol
4  armas (1531).jpg   88 157 401 360 pistol